@font-face {
    font-family: "montserrat";
    src: url("../static/Montserrat-Regular.ttf") format("truetype");
}

body{
    background-color:#8d9fa033;
    font-family: montserrat;
    margin: 0;
    position: relative;
    min-height: 440px !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.texto{
    margin: 20px;
}
.logo-content-comunity{
    width: 50px;
}
.logo-nombre-content-comunity{
    width: 171px;
}
.colornav{
    background-color: #212529 !important;
}
.letra{
    color: white;
}
.letra:hover{
    color: #bbb;
}
section{
    margin-top: 0;
    margin: 10px;
}
.icon{
    color: #adaf9a88;
    font-size: 20px;
}
footer{
    color: #adaf9a88;
    background-color: #0d1e1e;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
}
/*todo el footer*/
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 500px;
    margin: 0;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
    position: relative;
    right: 70px;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content:'';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: white;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 50px;
}
.social-icons i{
    color: whitesmoke;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: white;
}
.social-icons i:hover{
    color: white;
}
.bottom-bar{
    background: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: aqua;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}
/*termina el footer*/


/*portadas*/
section{
    display: flex;
    width: 600px;
    height: 430px;
    margin: 30px;
    margin-left: 30%;
}
section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
section img:hover{
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
/*fin de portadas*/
/*videos*/
.videos{
    display: flex;
    width: 900px;
    height: 645px;
    margin: 30px;
    margin-left: 18%;
    border: 10px #212529 solid;
    border-radius: 20px;
    background-color: #212529;
}
.videos video{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.videos video:hover{
    width: 100px;
    opacity: 1;
    filter: contrast(120%);
}
video{
    border-radius: 20px;
    margin: 10px;
}

/*fin de videos*/